<% include partials/header %>

<div class="ui main text container">
  <div class="ui huge header">
    <h2>Devloop Blog</h2>
  </div>

  <div class="ui top attached segment">
    <div class="ui divided items">
      <% blogs.forEach(blog => { %>
        <div class="item">
          <div class="image">
            <img src="<%= blog.imgUrl %>" alt="Picture of <%= blog.title %>">
          </div>
          <div class="content">
            <a href="/blogs/<%= blog._id %>" class="header"><%= blog.title %></a>
            <div class="meta">
              <span><strong><%= blog.author.username %></strong>, <%= moment(blog.createdAt).fromNow() %></span>
            </div>
            <div class="description">
              <p><%= blog.body.substring(0, 200) %>...</p>
            </div>
            <div class="extra">
              <a href="/blogs/<%= blog._id %>" class="ui floated pink basic button">Read More
                <i class="right chevron icon"></i>
              </a>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
</div>

<% include partials/footer %>