<% include partials/header %>

<div class="ui two column doubling stackable grid container main">
  <div class="ui vertical cta">
    <button class="ui circular red icon button">
      <i class="heart like icon"></i>
    </button>
    <button class="ui circular facebook icon button">
      <i class="facebook icon"></i>
    </button>
    <button class="ui circular twitter icon button">
      <i class="twitter icon"></i>
    </button>
    <button class="ui circular linkedin icon button">
      <i class="linkedin icon"></i>
    </button>
  </div>
  
  <div class="ui container text stacked segments show-page">
    <div class="ui segment cover-image">
      <img class="ui centered image" src="<%= blog.imgUrl %>" alt="Picture of <%= blog.title %>">
    </div>
  
    <div class="ui segment">
      <div class="ui huge header"><%= blog.title %></div>
      
      <div class="content">
        <span class="cta meta">
          <i class="user icon"></i>
            <% if (currentUser && currentUser.name) { %>
              <strong><%= currentUser.name %></strong>, 
            <% } else { %>
              <strong><%= blog.author.username %></strong>,
            <% } %>
          <%= moment(blog.createdAt).fromNow() %>
        </span>
        <span class="right floated cta meta">
          <span>
            <i class="heart like icon"></i>
            17 likes
          </span>
          <span class="likes-rating">
            <i class="comment icon"></i>
            3 comments
          </span>
        </span>
      </div>
    </div>
    
    <div class="ui segment">
      <div class="description">
        <p><%- blog.body %></p>
      </div>
    </div>

    <% if (currentUser && blog.author.id.equals(currentUser._id)) { %>
      <div class="ui segment">
        <a href="/blogs/<%= blog._id %>/edit" class="ui pink basic button">Edit Post</a>
        <form class="delete-post" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
          <button class="ui red basic button">Remove Post</button>
        </form>
      </div>
    <% } %>
  </div>
</div>

<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>

<div class="ui container text segment">
  <div class="ui threaded comments">
    <h3 class="ui dividing header">Comments</h3>
    <div class="comment">
      <a class="avatar">
        <!-- <img src="/images/avatar/small/matt.jpg"> -->
        <i class="user icon"></i>
      </a>
      <div class="content">
        <a class="author">Matt</a>
        <div class="metadata">
          <span class="date">Today at 5:42PM</span>
        </div>
        <div class="text">
          How artistic!
        </div>
        <div class="actions">
          <a class="reply">Reply</a>
        </div>
      </div>
    </div>
    <div class="comment">
      <a class="avatar">
        <!-- <img src="/images/avatar/small/elliot.jpg"> -->
        <i class="user icon"></i>
      </a>
      <div class="content">
        <a class="author">Elliot Fu</a>
        <div class="metadata">
          <span class="date">Yesterday at 12:30AM</span>
        </div>
        <div class="text">
          <p>This has been very useful for my research. Thanks as well!</p>
        </div>
        <div class="actions">
          <a class="reply">Reply</a>
        </div>
      </div>
      <div class="comments">
        <div class="comment">
          <a class="avatar">
            <!-- <img src="/images/avatar/small/jenny.jpg"> -->
            <i class="user icon"></i>
          </a>
          <div class="content">
            <a class="author">Jenny Hess</a>
            <div class="metadata">
              <span class="date">Just now</span>
            </div>
            <div class="text">
              Elliot you are always so right :)
            </div>
            <div class="actions">
              <a class="reply">Reply</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="comment">
      <a class="avatar">
        <!-- <img src="/images/avatar/small/joe.jpg"> -->
        <i class="user icon"></i>
      </a>
      <div class="content">
        <a class="author">Joe Henderson</a>
        <div class="metadata">
          <span class="date">5 days ago</span>
        </div>
        <div class="text">
          Dude, this is awesome. Thanks so much
        </div>
        <div class="actions">
          <a class="reply">Reply</a>
        </div>
      </div>
    </div>

    <h3 class="ui header">Add Comment</h3>
    <form class="ui reply form">
      <div class="field">
        <textarea></textarea>
      </div>
      <div class="ui blue labeled submit icon button">
        <i class="icon edit"></i> Add Reply
      </div>
    </form>
  </div>
</div>

<!-- <div class="ui main container text stacked segments show-page">
  <div class="ui top attached">
    <div class="item">
      <img class="ui centered image" src="<%= blog.imgUrl %>" alt="Picture of <%= blog.title %>">

      <div class="ui segment">
        <div class="ui huge header"><%= blog.title %></div>

        <div class="content">
          <span><strong><%= blog.author.username %></strong>, <%= moment(blog.createdAt).fromNow() %></span>
        </div>

        <div class="description">
          <p><%- blog.body %></p>
        </div>
      </div>
    </div>

    <% if (currentUser && blog.author.id.equals(currentUser._id)) { %>
      <a href="/blogs/<%= blog._id %>/edit" class="ui pink basic button">Edit Post</a>
      <form class="delete-post" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
        <button class="ui red basic button">Remove Post</button>
      </form>
    <% } %>
  </div>
</div> -->

<% include partials/footer %>