<% include partials/header %>

<div class="ui two column doubling stackable grid container main">
  <div class="ui vertical cta">
    <button class="ui circular red icon button">
      <i class="heart like icon"></i>
    </button>
    <button class="ui circular facebook icon button">
      <i class="facebook icon"></i>
    </button>
    <button class="ui circular twitter icon button">
      <i class="twitter icon"></i>
    </button>
    <button class="ui circular linkedin icon button">
      <i class="linkedin icon"></i>
    </button>
  </div>
  
  <div class="ui container text stacked segments show-page">
    <div class="ui segment cover-image">
      <img class="ui centered image" src="<%= blog.imgUrl %>" alt="Picture of <%= blog.title %>">
    </div>
  
    <div class="ui segment">
      <div class="ui huge header"><%= blog.title %></div>
      
      <div class="content">
        <span class="cta meta">
          <i class="user icon"></i>
            <% if (currentUser && currentUser.name) { %>
              <strong><%= currentUser.name %></strong>, 
            <% } else { %>
              <strong><%= blog.author.username %></strong>,
            <% } %>
          <%= moment(blog.createdAt).fromNow() %>
        </span>
        <span class="right floated cta meta">
          <span id="likes">
            <i class="heart like icon"></i>
            <span id="like-count"><%= blog.likes %></span> likes
          </span>
          <a class="likes-rating" href='/blogs/<%= blog._id%>#disqus_thread'>
            <i class="comment icon"></i>
            comments
          </a>
        </span>
      </div>
    </div>
    
    <div class="ui segment">
      <div class="description">
        <p><%- blog.body %></p>
      </div>
    </div>

    <% if (currentUser && blog.author.id.equals(currentUser._id)) { %>
      <div class="ui segment">
        <a href="/blogs/<%= blog._id %>/edit" class="ui pink basic button">Edit Post</a>
        <form class="delete-post" action="" method="">
          <button class="ui red basic button" id="deletePost">Remove Post</button>
        </form>
      </div>
    <% } %>
  </div>
</div>

<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>

<div class="ui container text segment">
  <div class="ui threaded comments">
    <h3 class="ui dividing header">Comments</h3>
    <div id="disqus_thread"></div>
  </div>
</div>

<div class="ui small basic test modal">
  <div class="ui icon header">
    <i class="archive icon"></i>
    <%= blog.title %>
  </div>

  <div class="content">
    <p>
      Are you sure you want to delete this post?
    </p>
  </div>

  <div class="actions">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i>No
    </div>
    <div class="ui green ok inverted button">
      <i class="checkmark icon"></i>Yes
    </div>
  </div>
</div>


<script>
  /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
    */
  
  var PAGE_IDENTIFIER = window.location.pathname.split('/')[2]
  var disqus_config = function () {
      this.page.url = window.location.href;  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
  };
  
  (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
      var d = document, s = d.createElement('script');
      
      // s.src = 'http://localhost-devloop.disqus.com/embed.js';  // IMPORTANT: Replace EXAMPLE with your forum shortname!
      s.src = 'https://devloops.disqus.com/embed.js';  // IMPORTANT: Replace EXAMPLE with your forum shortname!
      
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>


<script id="dsq-count-scr" src="//devloops.disqus.com/count.js" async></script>
<% include partials/footer %>